// Color system
$main-background: #DFEAED;
$primary-color: #70abbb;
$dark-green: #1A5C6F;
$base-text-color: #000;
$table-wrapper-background: #70abbb;

//Size
$header-height: 240px;
$component-padding: 30px;
$component-margin-bottom: 10px;
$item-gap: 10px;
$base-line-height: 50px;
$base-border-radius: 10px;
$base-font-size: 14px;
$base-item-minwidth: 200px;
$font-weight-bold: 600;
