@import '../../../styles/variables.scss';

.custom-textarea {
  &__title {
    position: relative;
    z-index: 3;
    padding: 0px 18px;
    font-size: calc(#{$base-font-size} - 3px);
    font-weight: bold;
    color: #b5b5b5;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    width: 40%;
    height: 10px;
    top: 10px;
    white-space: nowrap;
  }
}
textarea.ant-input {
  color: #b5b5b5;
  font-size: $base-font-size;
  font-weight: bold;
  text-align: left;
  top: 10px;
  position: relative;
  color: $base-text-color;
}

.ant-input[disabled] {
  background-color: white;
  cursor: not-allowed;
  opacity: 1;
}
