@import '../../../styles/variables.scss';
.custome-calendar-picker {
  height: $base-line-height;
  &__title {
    position: relative;
    z-index: 3;
    padding: 0px 18px;
    font-size: calc(#{$base-font-size} - 2px);
    font-weight: bold;
    color: #b5b5b5;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    width: 40%;
    max-width: 220px;
    height: 10px;
    top: 8px;
    white-space: nowrap;
  }
  .ant-picker {
    position: relative;
    top: -10px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 18px;
    width: 100%;
    height: $base-line-height;
    display: flex;
    justify-content: center;
    border: none;
    .ant-picker-input {
      position: relative;
      top: 8px;
    }
    .ant-picker-input > input{
      font-size: $base-font-size;
      font-weight: $font-weight-bold;
    }
  }
  .ant-picker-input > input[disabled] {
    color: $base-text-color;
  }
}
